<app-spinner *ngIf="!documents"></app-spinner>
<div *ngIf="documents">
  <div class="header">
    <h4>Mis documentos</h4>
    <mat-form-field>
      <mat-label>Búsqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. luz" autocomplete="off">
    </mat-form-field>
  </div>

  <div class="container-table">
    <table class="table" mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let document">
          <button mat-button (click)="openDialog(document)" color="accent">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let document">
          <button mat-button (click)="goToUpdate(document)" color="primary">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let document"> {{document.id}} </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let document">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let tag of document.tags">
              {{ tag }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let document"> {{ document.name }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let document"> {{ document.description ? document.description : '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="date_of_issue">
        <th mat-header-cell *matHeaderCellDef> Fecha del document</th>
        <td mat-cell *matCellDef="let document"> {{ document.date_of_issue }} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let document"> {{ document.price | currency:'EUR':'symbol':'1.2-2':'es' }} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let document"> {{ document.type }} </td>
      </ng-container>

      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> Documento </th>
        <td mat-cell *matCellDef="let document">
          <a class="download-icon" target="_blank" href="{{url}}{{document.url}}">
            <i class="material-icons">description</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>