/* mobile */
.form-container {
  min-height: 633px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-container {
  width: 100%;
}

.radio-button-group {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* tablet */
@media screen and (min-width: 655px) {

}

/* desktop */
@media screen and (min-width: 1222px) {

}