<div class="container">
  <mat-card class="card list-users__container">
    <h4 class="list-users__header">
      Usuarios
      <button mat-stroked-button color="primary" (click)="createUser()">
        <div class="button__text">
          Crear usuario
          <mat-icon class="button-icon">add_circle_outline</mat-icon>
        </div>
      </button>
    </h4>
    <div *ngIf="!users">
      <app-spinner></app-spinner>
    </div>
    <div class="list-users__list">
      <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
    </div>
  </mat-card>

  <mat-card class="card">
    <h4>Editar usuario</h4>
    <div *ngIf="!userToEdit">
      <app-spinner></app-spinner>
    </div>
    <app-user-form *ngIf="userToEdit" [user]="userToEdit" (userUpdated)="getAllUsers()"></app-user-form>
  </mat-card>

</div>