.container {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-gap: 40px;
  height: 74vh;
}

.card {
  height: 100%;
}

.card-users-container {
  overflow-y: auto;
}

.container-users {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
}
