/* mobile */
.sidenav {
  min-width: 260px;
  top: 56px !important;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
  min-height: calc(100vh - 56px);
}

.main-content {
  margin-top: 56px;
  min-height: calc(100vh - 2 * 56px);
}

/* tablet */
@media screen and (min-width: 600px) {
  .sidenav {
    top: 64px !important;
  }

  .container {
    min-height: calc(100vh - 64px);
  }

  .main-content {
    margin-top: 64px;
    min-height: calc(100vh - 2 * 64px);
  }
}

/* desktop */
@media screen and (min-width: 991px) {

}
