<div class="container" [ngClass]="{'line-red': userForm.get('role').value === 'ADMIN',
                'line-blue': userForm.get('role').value === 'EDIT',
                'line-green': userForm.get('role').value === 'VIEW'}">
  <form class="form-container" [formGroup]="userForm">
    <mat-form-field class="input-container">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Ej. Iván" formControlName="name" required autocomplete="off">
      <mat-error *ngIf="userForm.get('name').invalid && userForm.get('name').errors.required">
        El nombre es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-container">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ej. icordobadonet@gmail.com" formControlName="email" required
        autocomplete="off">
      <mat-error *ngIf="userForm.get('email').invalid && userForm.get('email').errors.required">
        El email es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <div>
      <label id="role">Rol:</label>
      <mat-radio-group class="input-container radio-button-group" aria-labelledby="role" formControlName="role" required
        ngDefaultControl [required]="true">
        <mat-radio-button value="ADMIN">Admin</mat-radio-button>
        <mat-radio-button value="EDIT">Edit</mat-radio-button>
        <mat-radio-button value="VIEW">View</mat-radio-button>
      </mat-radio-group>
    </div>

    <button class="input-container" [disabled]="!userForm.valid" mat-stroked-button color="primary" (click)="update()">
      <div class="button" *ngIf="!isSaving">
        Actualizar usuario
        <mat-icon class="button-icon">save</mat-icon>
      </div>
      <div *ngIf="isUpdating">
        <app-spinner></app-spinner>
      </div>
    </button>
  </form>
</div>