<div [ngClass]="{'cards-container': file, 'card-container': !file}">
  <mat-card class="card card__pdf">
    <div *ngIf="file">
      <app-pdf-viewer [file]="file"></app-pdf-viewer>
    </div>

    <form *ngIf="!file" class="form-file" [formGroup]="documentFileForm">
      <div class="drag-container" appDragDrop (click)="fileField.click()" (fileDropped)="renderView($event)">
        <span class="drag-drop-text">Clica y elige un documento <br>o<br> arrastralo aquí</span>
        <div *ngIf="errorType" class="drag-drop-text error-message">El documento tiene que ser pdf</div>
        <input type="file" name="file" #fileField (change)="renderView($event.target.files[0])" accept=".pdf" hidden>
      </div>
    </form>
  </mat-card>

  <div class="card" *ngIf="file">
    <button class="btn-container" (click)="removeImage()" mat-stroked-button color="accent">
      <div class="btn-remove-document">
        Quitar este documento
        <mat-icon>close</mat-icon>
      </div>
    </button>
    <mat-card>
      <app-document-form (documentSaved)="removeImage()"></app-document-form>
    </mat-card>
  </div>
</div>