<div class="container">
  <div class="card card__info">
    <h1 class="docuco info-title">Docuco</h1>
    <h3 class="info-subtitle">Organiza tus gastos y tus ingresos</h3>
    <p class="info-text">Podrás administrar tus documentos de facturación para tener de
      forma simple, fácil e intuitiva análisis necesarios respecto a tu dinero.</p>
    <img class="info-image" src="/assets/login-image.png" alt="animated image">
  </div>
  <div class="card">
    <app-login-card></app-login-card>
  </div>
</div>