<div class="container">
  <div class="card card-info">
    <div>
      <h1><img class="logo-name" src="/assets/docuco_name_2.svg" alt=""></h1>
      <h3 class="title-info">Organiza tus gastos y tus ingresos</h3>
      <p class="text-info">Con <strong>Docuco</strong> podrás administrar tus documentos de facturación para tener de
        forma simple, fácil e intuitiva análisis necesarios respecto a tu dinero.</p>
    </div>
    <img src="/assets/login-image.png" alt="" width="320">
  </div>
  <div class="card card-login">
    <app-login-card></app-login-card>
  </div>
</div>