mat-form-field {
    width: 100%;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: radial-gradient(rgb(121, 194, 207), rgb(5, 22, 117));
}

.login-card {
    width: 30%;
    margin-top: 100px;
}

.input-container {
    margin-top: 40px !important;
    width: 80%;
    margin: auto;
}

.button {
    width: 100%;
    margin-bottom: 40px !important;
}