<div class="sidenav-container" *ngIf="user">
  <section class="sidenav-content">
    <nav class="sidenav-content-nav">
      <mat-button-toggle-group class="menu-list" vertical="true">
        <div *ngFor="let link of links">
          <mat-button-toggle *ngIf="userCanAccess(link)" class="menu-item" mat-button [routerLink]="link.url"
            routerLinkActive="mat-button-toggle-checked" (click)="closeIfIsNotDesktop()">
            <i class="sidenav-icon-item material-icons">{{ link.icon }}</i>
            {{ link.text }}
          </mat-button-toggle>
        </div>
      </mat-button-toggle-group>
    </nav>
  </section>

  <section class="sidenav-footer">
    <img class="sidenav-footer-logo" src="/assets/logo.svg" alt="">
    <span class="docuco sidenav-footer-text">Docuco</span>
  </section>
</div>