mat-form-field {
  width: 100%;
}

/* mobile */
.title {
  margin-top: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  margin-right: 20px;
  width: calc(20px + 1.5vw);
}

.input-container {
  margin-top: 40px !important;
  width: 80%;
  margin: auto;
}

.button {
  width: 100%;
  margin-bottom: 40px !important;
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* tablet */
@media screen and (min-width: 655px) {
}

/* desktop */
@media screen and (min-width: 1222px) {
}