<mat-card>
  <mat-card-header class="title">
    <img class="logo" src="/assets/logo.svg" alt="docuco logo">
    <mat-card-title>
      Inicia sesión en Docuco
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input data-cy="email" matInput type="email" formControlName="email"
            placeholder="Ej. icordobadonet@gmail.com">
          <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').errors.required">
            El email es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').errors.email">
            El email <strong>no es valido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input data-cy="password" matInput type="password" formControlName="password" placeholder="Ej. 123456">
          <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').errors.required">
            La contraseña es <strong>obligatoria</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="input-container">
    <button data-cy="submit" class="button" [disabled]="!loginForm.valid" mat-stroked-button color="primary"
      (click)="login()">
      <div class="button-content" *ngIf="!isLogin">
        Iniciar sesión
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
      <div *ngIf="isLogin">
        <app-spinner></app-spinner>
      </div>
    </button>
  </mat-card-actions>
</mat-card>