.input-container {
  margin-top: 40px !important;
  width: 80%;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.title {
  margin-top: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  margin-right: 20px;
  width: 2vw;
}

.button-container {
  width: 100%;
  margin-bottom: 40px !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}