<div class="container">
  <div *ngIf="document">
    <button class="button" (click)="goToHome()" mat-stroked-button color="accent">
      <div class="button__remove">
        Cancelar edición
        <mat-icon>close</mat-icon>
      </div>
    </button>
    <mat-card>
      <app-document-form [document]="document"></app-document-form>
    </mat-card>
  </div>

  <mat-card class="card__pdf">
    <div *ngIf="document">
      <app-my-pdf-viewer file="{{url}}{{document.url}}"></app-my-pdf-viewer>
    </div>
  </mat-card>
</div>