<mat-card class="card-user" (click)="goToUpdateUser(user)">
  <mat-card-title class="title">
    <span class="title-name">
      <mat-chip-list>
        <mat-chip [ngClass]="{'admin-chip': user.role === 'ADMIN',
          'edit-chip': user.role === 'EDIT',
          'view-chip': user.role === 'VIEW'}" class="chip">
          {{ user.role }}
        </mat-chip>
      </mat-chip-list>
      &nbsp;{{ user.name }}
    </span>
    <button class="button" mat-stroked-button color="accent" (click)="openDialog($event, user)">
      <div class="button">
        <mat-icon class="button-icon">delete</mat-icon>
      </div>
    </button>
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    <span>{{ user.email }}</span>

  </mat-card-subtitle>
</mat-card>