.card-user {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title-name {
  display: flex;
  align-items: center;
} 

.subtitle {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chip {
  color: #202020;
}

.admin-chip {
  background-color: #ffb3b3;
}

.edit-chip {
  background-color: #b3b3ff;
}

.view-chip {
  background-color: #b3ffb3;
}