<div class="first-row-cards">
    <mat-card class="small-card">
        <app-spinner></app-spinner>
    </mat-card>

    <mat-card class="small-card">
        <app-spinner></app-spinner>
    </mat-card>
</div>

<mat-card class="large-card">
    <app-spinner *ngIf="documents.length < 1"></app-spinner>
    <div *ngIf="documents.length > 0">
        <div *ngFor="let document of documents">
            {{ document.id }} - {{ document.name }} - {{ document.description }}
        </div>
    </div>
</mat-card>