<div class="first-row-cards">
  <mat-card class="small-card">
    <h4>Ingresos y gastos este año</h4>
    <!-- <app-spinner></app-spinner> -->
    <app-bar-chart [documents]="documents"></app-bar-chart>
  </mat-card>

  <mat-card class="small-card">
    <h4>Gastos por tags este año</h4>
    <!-- <app-spinner></app-spinner> -->
    <app-pie-chart [documents]="documents"></app-pie-chart>
  </mat-card>
</div>

<mat-card class="large-card">
  <app-list-document [documents]="documents"></app-list-document>
</mat-card>