<div class="first-row-cards">
  <mat-card class="small-card">
    <h4>Ingresos y gastos este año</h4>
    <app-bar-chart *ngIf="documents" [documents]="documents"></app-bar-chart>
    <div *ngIf="!documents">
      <app-spinner></app-spinner>
    </div>
  </mat-card>

  <mat-card class="small-card">
    <h4>Ingresos y gastos este año</h4>
    <app-pie-chart *ngIf="documents" [documents]="documents"></app-pie-chart>
    <div *ngIf="!documents">
      <app-spinner></app-spinner>
    </div>
  </mat-card>
</div>

<mat-card class="large-card">
  <app-list-document [documents]="documents" (documentDeleted)="refreshDocuments()"></app-list-document>
</mat-card>
