/* mobile */
.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.card__list {
  overflow: auto;
}

/* tablet */
@media screen and (min-width: 655px) {
  .container {
    padding: 30px;
    gap: 30px;
  }
}

/* desktop */
@media screen and (min-width: 1222px) {
  .container {
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .card__list {
    grid-area: 2 / 1 / 3 / 3;
  }
}